<div class="container card-group">
  <div class="col-12">
    <h1 class="d-inline-block">{{ "cart.title" | translate }}</h1>
  </div>

  <div id="alert-remove" class="alert alert-success col-12 mb-5 mx-auto fw-bold animate__animated animate__fadeIn d-none" role="alert">
    <i class="fa-solid fa-circle-check me-2"></i>
    <span id="alert-remove-text"></span>
  </div>

  <div class="row col-12">
    <div class="mt-2 mb-3 float-start">
      <p class="form-label card-price">{{ "cart.price" | translate }}{{ totalPrice.toFixed(2) }} {{ "product.price.euros" | translate }}</p>
    </div>
  </div>

  <div *ngIf="loading || products === null" class="row col-12 animate__animated animate__fadeIn animate_slow">
    <app-loading></app-loading>
  </div>

  <div *ngIf="!loading" class="row gy-3 col-sm-12">
    <div *ngFor="let product of products" class="col-12 animate__animated animate__fadeIn animate_slow">
      <app-cart-item [product]="product" (removeProduct)="removeProduct($event)"></app-cart-item>
    </div>
  </div>

  <div class="col-12">
    <a class="btn btn-outline-primary my-4 me-4 float-end" role="button" [routerLink]="['/merchandising/products']">
      <i class="fa-solid fa-arrow-rotate-left me-1"></i>
      <span>{{ "product.buttons.return.title" | translate }}</span>
    </a>
  </div>
</div>
