@import "src/styles";

.card-item {
  @extend %box-shadow;
  height: 100%;
  width: 100%;
}

.card-subtitle {
  margin-bottom: 1rem !important;
}

.card-description {
  margin-bottom: 3rem !important;
}
